[2012-06-24 16:41] cfjedimaster opened #2 "Consider XML as a snippet format"
One issue I have with the JSON syntax and snippets is that it is difficult to create large, multi-line snippets. I normally create a lot of snippets that are basically page templates. In order to get these working, I had to write a quick app to JSON encode my large strings. That took all of about 2 minutes, but what if the extension allow you to use XML files as well. Something along the lines of:

[2012-06-25 04:51] jrowny commented on #2
this would be a great feature to add. For the time being, there's a lot of automated tools to escape your snippets to work with JSON.

[2012-06-25 14:43] cfjedimaster commented on #2
Yeah, but it also makes it hard to update too. So for example, one page template may have a call to jQuery 1.4.1, and if I want to modify that, it may be more difficult with encoded for JSON. (Probably not, but I'm reaching here. ;) Mind if I code this up and submit a pull request?

[2012-06-25 14:45] jrowny commented on #2
I agree with you, so go for it!

[2012-12-18 20:04] cfjedimaster opened #3 "Error in Sprint 17"
Uncaught TypeError: Cannot call method 'createReader' of undefined

at

file:///C:/Users/Raymond/AppData/Roaming/Brackets/extensions/user/brackets-snippets/main.js

[2012-12-18 20:06] jrowny commented on #3
I created a tag because my updates broke Sprint 17.

You can resolve this issue by getting the latest master or getting the tag: https://github.com/jrowny/brackets-snippets/tags

[2012-12-18 20:06] #3 closed, assigned to nobody

[2012-12-18 20:07] jrowny commented on #3
To clarify, if you've got a copy of Brackets on master, it should work and there are a few other things cleaned up.

[2012-12-18 20:13] cfjedimaster commented on #3
Ah cool - and I think I remember that email from a few days ago about a
change that would break extensions.

On Tue, Dec 18, 2012 at 2:07 PM, Jonathan notifications@github.com wrote:

##

#

Raymond Camden, Adobe Developer Evangelist

Email : raymondcamden@gmail.com
Blog : www.raymondcamden.com
Twitter: cfjedimaster

[2012-12-18 20:17] jrowny commented on #3
I added a note in the readme.

[2012-12-20 20:39] jrowny commented on #2
So I think I resolved this by allowing you to specify an external file as the snippet.

`{
        "name": "html5",
        "trigger": "html5",
        "usage": "html5",
        "description": "Create an HTML5 page",
        "template": "html5.snippet"
}`

html5.snippet is a file in your directory which is basically just HTML.

[2012-12-20 20:39] #2 closed, assigned to nobody

[2012-12-20 20:42] cfjedimaster commented on #2
Perfect. Thanks!

[2013-01-31 17:43] ghost opened #4 "Using jQuery code in InlineSnippetForm.js?"
Hi, i am new to github and brackets and i was doing some simple tests with the Snippets extension and trying some simple customizations but i have run into a problem where my jQuery code does not work.

In the browser this code works fine -

<body>

[code]

But in the InlineSnippetForm.js file after the line -

[code]

I add this code -

[code]

However everytime i run the snippet i see 2 text inp

[2013-01-31 17:51] jrowny commented on #4
Could be a conflict somewhere with the id "testing". Try something like:

[code]

If you've got dev tools open (F12 on windows, cmd+shift+i on mac) you can console `console.log($('#testing'))` and see what it's giving you.

As this is a general javascript/jQuery problem and not so much related to a specific contribution or bug in Brackets or the snippets extension, I'm going to close this. If you'

[2013-01-31 17:51] #4 closed, assigned to nobody

[2013-02-01 04:13] ghost commented on #4
Thanks that fixed the problem :)

[2013-02-01 04:16] ghost opened #5 "Fairly serious bug with brackets after using the Snippets plugin"
I have found a fairly serious bug with the Snippets plugin (Great plugin btw) where Brackets becomes hard to use when clicking with the mouse.

---

You should be able to reproduce the bug with the following steps -

1) With the plugin enabled load brackets and have a page with quite a lot of content like the default index.html which was the document i found this bug with.

2) Scroll down the page

[2013-02-09 18:22] redmunds opened #6 "Feature Request: make bottom panel resizable"
There is now a resizer module that implements easy resizing of bottom panels. You don't need any JS -- just add a few classes to your HTML markup.

Take a look at the Brackets JSLint and Find in Files panels, or this extension I wrote: https://github.com/redmunds/brackets-display-shortcuts.

[2013-02-09 18:28] redmunds opened #7 "Feature Request: add foreach loop"
A for loop is useful for when there are cases you want to break out of loop, but foreach is much cleaner when you know you're going to loop through entire list. So, instead of this:

[code]

I'd rather start with this:

[code]

[2013-02-11 15:58] jrowny commented on #7
I don't think the looping debate is something I really want to cover with this module. I `for` as often as I `foreach` for various reasons. I will go ahead and add a `foreach` starting snippet but leave the original in place.

[2013-02-11 16:06] redmunds commented on #7
I guess my "I'd rather..." comment was confusing. I definitely think there should be both.

[2013-02-21 08:13] choyan opened #8 "Needs a new line to trigger"
May be you know it.
Snippets doesn't appear without creating a newline. I need to go to a new line or press enter. Then when i insert a  trigger then, snippet works. May be everybody wont want it. People needs to add a comment just side of the end of tag.

English is too bad. Hope so, you understand my words, :)

[2013-05-20 23:28] bestander opened #10 "Strings as parameters"
Hi, thanks for the great extension.

I use Jasmine for writing tests and this pattern is quite common

[code]

I'd like to create brackets snippet like this:

[code]

The result is undesirable

[code]

[2013-05-29 21:53] jrowny commented on #10
This is a good idea.

[2013-06-03 15:54] jrowny commented on #6
Opps, I finally got around to this and now apparently we're using PanelManager.createBottomPanel().

[2013-06-06 03:05] jrowny commented on #6
Fixed in latest commit

[2013-06-06 03:05] #6 closed, assigned to jrowny

[2013-06-06 03:07] jrowny commented on #10
While I haven't got this working yet, if you omit the parameter altogether, you now get a nice inline for, which allows you to enter long strings with spaces.

[2013-06-06 03:08] jrowny commented on #8
Right now the snippets rely on creating new lines because of the way the parameters work. Otherwise it would be very difficult to parse the snippet from the line. If you have ideas about how I can address this, let me know. For now I will close as won't fix.

[2013-06-06 03:08] #8 closed, assigned to nobody

[2013-06-06 03:10] bestander commented on #10
Yep, thanks for the advice

[2013-06-06 03:10] jrowny commented on #5
I think this is fixed in the latest commit, as well as the panel resizing. Let me know if yous till experience any trouble.

[2013-06-06 03:10] #5 closed, assigned to jrowny

[2013-06-06 03:15] jrowny commented on #7
done.

[2013-06-06 03:15] #7 closed, assigned to jrowny

[2013-06-17 22:07] cfjedimaster opened #11 "Error with .DS_Store"
If a .DS_Store file exists and the extension tries to read it, you get an error on startup.

[2013-06-24 19:35] jrowny commented on #11
It's just a warning right? Things still work?

[2013-06-24 23:31] cfjedimaster commented on #11
Yep, I can click past it.

[2013-07-03 14:44] chrismatheson opened #15 "Insert replaces line"
i would like to be able to insert a snippit into current code without wipping out the line?

https://github.com/jrowny/brackets-snippets/blob/master/main.js#L89

there you start by deleting the whole line after the ctrl+v command is pressed. Could the extension start by matching first??

C

[2013-07-08 21:20] jrowny commented on #15
That's a good idea but I'd like to preserve the inline-arguments functionality and I can't think of a reliable way to have both inline-arguments and the inline completion wizard without using an entire line. Otherwise I wouldn't know which parts of the line were arguments. I could make a setting to make them exclusive of each other... either you get inline arguments or inline snippets. Any Ideas?

[2013-07-09 08:07] chrismatheson commented on #11
For me it broke things :( after i got the error i could continue and still use brackets but the plugin was not working from that point onwards.

Ive done a small work around. I can try and wrangle this into a proper pull req if you want? or can just leave it for a temporary solution until you decide how you would like to solve the issue

[code]

[2013-07-09 15:59] jrowny commented on #11
A pull request would be much appreciated, but I wonder if we should "whitelist" file types rather than block certain ones. I.e., only allow .snippet and .json. Let me know if you want to try and tackle it, otherwise I'll try to find some time this weekend for it.

[2013-07-10 16:51] jrowny commented on #11
Fixed thanks to @chrismatheson

[2013-07-13 14:26] cfjedimaster opened #17 "No snippets showing, no error either"
I just updated my copy of the extension and I'm not getting any snippets showing up. The panel displays, but nothing is listed. No errors show up in DevTools either. I did add my own file (https://gist.github.com/cfjedimaster/5990893), but this was working for me in the past, and again, I assume if it was broken I'd see an error.

[2013-07-13 14:31] cfjedimaster commented on #17
I'm digging, but I think I may know what it is. A long time ago I made a symbolic link for my brackets extensions so I could store them on Dropbox and share them for many machines. I added a console.log to see what directory Snippets thinks it should use for snippets. It reports:

/Users/ray/Library/Application Support/Brackets/extensions/user/brackets-snippets/data

Which is right, but not the re

[2013-07-13 14:31] cfjedimaster commented on #17
Although - the fail event should have fired if it couldn't parse it. Still digging.

[2013-07-13 14:34] cfjedimaster commented on #17
Ok, I see the issue. Your code here:

[code]

This causes Brackets to ignore the _entire_ directory, not just the file.

[2013-07-15 18:14] jrowny commented on #17
I don't have a mac or silly dot files in my folders so I didn't run into this, but thanks for narrowing the issue and the pull request!

[2013-07-15 18:14] #17 closed, assigned to nobody

[2013-07-20 16:44] subhajitbn opened #19 "Ctrl-Shift-S conflicts with 'Save As'"
**Software:** Brackets Sprint 27
**OS:** Windows 8 Pro

**Problem:** `Ctrl-Shift-S` combination is mapped to `Save As` option and does not work for showing available snippets.

[2013-08-03 02:35] lkcampbell commented on #19
@ajantrik,

Just an FYI, there is a new Brackets Key Remapper extension that just became available in the Extension Manager today which is a great workaround solution to this problem.  You can assign any shortcut key you want and avoid conflicts.

[2013-08-08 12:04] martypowell opened #21 "Finding Snippets javascript.json File"
This is more of a comment then issue. I am new to brackets as of yesterday and was having a hard time finding the javascript.json.

I had to do quite a bit of googling before finding this blog article (http://blog.brackets.io/2012/12/19/snippets-brackets-extension/) that mentions accessing “Show Extensions Folder” in the Help menu.

It might be nice to add this little tip into the adding snippets

[2013-09-14 13:45] benoitwimart opened #22 "snippets folder"
Hi,

After add my own ".snippet" file, Mac OS X add a ".DS_Store" file and brackets-snippets doesn't start.
I used this command to remove this hidden file and fix it :
cd Users/…/Library/Application\ Support/Brackets/extensions/user/jrowny.brackets.snippets/data/snippets

sudo rm ".DS_Store"

B.

[2013-10-31 19:33] clouddueling commented on #11
Brackets 33 just came out and after updating brackets-snippets I edited one of my snippets and started getting this message.

![screen shot 2013-10-31 at 12 32 52 pm](https://f.cloud.github.com/assets/1400735/1449124/476bc6b0-4263-11e3-9f09-528a6a14d42b.png)

Chris's fix hides the error but now I can't use the extension.
Love this extension hope this can get fixed soon!

[2013-10-31 19:42] clouddueling commented on #19
`Cannot assign Shift-Cmd-S to snippets.hideSnippets. It is already assigned to file.saveAs`
Brackets 33

[2013-10-31 19:50] jrowny commented on #19
Looks like I need to change the default key, any suggestions?

[2013-10-31 19:54] jrowny commented on #11
I haven't booted up my mac in awhile and obviously don't get this on linux/windows. I'll see if I can get to it and I'll reopen the issue. In the meantime if someone has a pull, I'm happy to merge!

One last thing, did you download from the extension repository or from github?

[2013-10-31 19:55] clouddueling commented on #11
@jrowny I downloaded from within brackets extension manager thing (extension repository?).

I can submit this as a pull request but I only used chris's method with the if statement.

[2013-10-31 19:57] jrowny commented on #11
Can you clone this repo and tell me if you still get the error? I think the one in extension manager might be missing the latest fix. Chris' fix was later fixed again by @cfjedimaster and I'm not sure if that one was pushed out yet.

If that's the case then all I need to do is re-upload the latest code to the extension repository..

[2013-10-31 19:59] jrowny commented on #22
I'm closing this because it's a duplicate of issue #11. Please track #11 for progress on fixing this.

[2013-10-31 19:59] #22 closed, assigned to nobody

[2013-10-31 20:01] jrowny commented on #21
It wasn't really the intention to have user snippets in that folder but I haven't really come up with a better way. We do have config.js which lets you customize the extension path but that gets overwritten when the module updates. I probably need to move that into a settings UI and make it persist.

[2013-10-31 20:03] clouddueling commented on #11
I just cloned and it worked fine.
https://github.com/jrowny/brackets-snippets/issues/22

This only happened because I added a php.json and then a .DS_STORE file was added.  Then all this happened.  Exactly like described in issue 22.

When I backedup my snippets and uninstalled this extension and then reinstalled it and then pasted my backed up snippets over the defaults it worked.

[2013-10-31 20:04] jrowny commented on #11
so it does work even when .ds_store is there?

[2013-10-31 20:05] clouddueling commented on #11
It works like this.
![screen shot 2013-10-31 at 1 04 30 pm](https://f.cloud.github.com/assets/1400735/1449355/b0ea16a6-4267-11e3-8c55-1c23ead276e6.png)

Once I start editing the json or snippet files and Mac adds .DS_STORE it breaks.  Then when I delete the .DS_STORE files and reload brackets quickly this extension works, but mac adds those back in seconds after.

[2013-10-31 20:07] jrowny commented on #11
okay, so it's still an issue that needs to be resolved but at least we have
a temporary workaround.

On Thu, Oct 31, 2013 at 4:05 PM, CloudDueling.com
notifications@github.comwrote:

##

Jonathan

[2013-10-31 20:30] lkcampbell commented on #19
@jrowny, as you probably already know, any shortcut key is a potential future target for both the core team and other extension developers.  I toyed with the idea of using some really obscure key combination like CTRL-ALT-~ or CTRL-ALT-function key although I never tried them out since I ending up pulling my shortcut keys in the end, in hopes that the keyboard shortcut remapping functionality woul

[2013-10-31 22:23] chrismatheson commented on #11
Hey, sorry my 'fix' was more a hack. Mac adds a .DS_Store to any folder viewed by Finder (I think) it's something to do with the images generated for quick look.

I'm happy to look at this again some time this week if we can hammer out the exact problem?

[2013-11-01 18:53] jrowny commented on #11
So Brackets is getting a big upgrade to its filesystem in Sprint 34 (current sprint) so I plan on tackling this fix along with the filesystem.

[2013-11-01 18:53] jrowny commented on #11
https://github.com/adobe/brackets/wiki/File-System-API-Migration info about the file system change

[2013-11-03 10:20] raphaelgoetter opened #24 "Feature request : expand with "tab""
Hello,

"Ctrl-Alt-V" to insert the snippet is a bit painful and long.
Would it be possible to expand trigger with tab key, as Emmet does for example ?

[2013-11-03 19:38] clouddueling commented on #11
Ok for some reason I am not getting updates about the most recent pull requests.  I just checked main.js and compared to my local and they were not the same.  I didn't see a "Update" next to the extension in brackets.

Just to confirm this is working now for my mac :+1:

[2013-11-03 19:40] clouddueling commented on #19
`Ctrl-Alt-V` conflicts with another extension and overrides this one.

I changed to this and it works but this is an extension vs. extension problem.
`Ctrl-Shift-V`

`Ctrl-Shift-A` appears to be available I just changed it in my own and it worked without conflicting with anything else that I currently have installed.

[2013-11-07 15:12] raphaelbastide commented on #21
+1
At least shortcut to the snippets folder in Brackets UI could be really useful.

[2013-11-08 21:40] peterflynn opened #25 "Incorrect file IO error messages"
There are two places this extension does: `FileUtils.showFileOpenError(error.code, path)`, but there is no "error.code" field so it will always show a generic message with "undefined" given as the error type.

There's one place where it does: `FileUtils.showFileOpenError(error.name, path)`, which is correct in Sprint 33 and earlier, but will stop working in Sprint 34.  The correct code for Sprint

[2013-11-09 00:20] peterflynn commented on #25
There are also several uses of deprecated APIs in this extension:
- `NativeFileSystem.FileEntry`
- `NativeFileSystem.requestNativeFileSystem()`
- `DirectoryEntry.createReader()`

These APIs _should_ continue to work in Brackets Sprint 34, so you do not necessarily need to clean them up at the same time as fixing the breaking changes above.  But the APIs will go away by the end of this year, so you

[2013-11-23 20:46] clouddueling opened #26 "Created a gif on this extension"
https://dl.dropboxusercontent.com/u/7827818/brackets%20snippets.gif

I created this gif for a quick preview on my site: http://michaelcalkins.com/post/brackets-snippets-extension

If you want the file go for just thought I'd offer it up :)

If you want to make an easy one yourself google LICEcap it's free and super easy to use.

[2013-12-10 14:34] adalberth commented on #10
+1 for strings as parameters

[2013-12-10 14:40] adalberth opened #27 "Dynamic n variables"
I wanna create a console.log snippet: console.log($${data}); and i would like to be able to pass multi variables like: cl myVar1, myVar2 .. myVarN. Is that somehow possible? and another small problem is that you can only use the !!{cursor} placeholder with /n!!{cursor}/n or else it doesn't work.

[2013-12-11 23:00] clouddueling opened #28 "Can't initiate snippet on first line of file."
![brackets contorl bug](https://f.cloud.github.com/assets/1400735/1728969/de4ab252-62b7-11e3-96f6-23abe530faea.gif)
![screen shot 2013-12-11 at 2 58 51 pm](https://f.cloud.github.com/assets/1400735/1728970/e0ba6668-62b7-11e3-8902-7fd4f2535783.png)

Snippet file in question.

[code]

[2013-12-13 19:05] clouddueling opened #29 "Snippets GIF Example"
Hope this can be helpful!

I recommend downloading it because this link will die someday.
https://dl.dropboxusercontent.com/u/7827818/brackets%20snippets%20example.gif
http://michaelcalkins.com/post/69376921361/programming-quickly-with-brackets

<img src='https://dl.dropboxusercontent.com/u/7827818/brackets%20snippets%20example.gif'>

[2013-12-13 20:04] RB-Lab commented on #19
I use `Ctrl-Alt-Space` to run snippet. It's like `Ctrl-Space` to show hints. I'm used to see snippets between hints as it made in Aptana. But anyway `Ctrl-Alt-Space` looks unoccupied and quite logical. And you cant press it with one hand. For 'show snippets' I use `Ctrl-Shift-4` as it suggested above. But I think that it is unnecessary at all. Because looking to snippets is not common task: if you

[2013-12-13 20:58] RB-Lab opened #30 "It removes entire line whn trying to run unexisting snippet."
I'm trying do the following:

1) created snippet triggered with `fu` to insert anonymous function;
2) type `socket.on('textMsg', fu`
3) trying to run snippet

_Expected behaviour:_ snippet inserted or at least noting
_Actual behaviour:_ line  `socket.on('textMsg', fu` removed

_Additional info:_ snippet runs ok on a new line with only `fu`. BTW, is it possible to run snippet if its trigger doesn't

[2013-12-17 20:40] ghost commented on #24
<i>(I see it's an old post, but I wanted to reply so everybody who read this'll know)</i>

You can change that keybind to whatever you want in <i>"jrowny.brackets.snippets/<b>main.js"</b></i>

<code>//add the keybinding
        KeyBindingManager.addBinding(SNIPPET_EXECUTE, "Ctrl-Alt-V");
</code>

But I agree with you that it should be good if it could work as Emmet, because now if you change keybi

[2014-01-09 18:51] Semigradsky commented on #29
Looks cool.
How about add this to readme?

[2014-02-07 13:43] jayeshcp commented on #11
Has this issue been fixed?

[2014-03-10 02:20] zaggino commented on #10
Fixed in https://github.com/jrowny/brackets-snippets/pull/33

[2014-03-10 02:40] zaggino commented on #15
@chrismatheson @jrowny
what about a separator sign before the trigger?
`f func` would behave like it behaves now
`$f func` would work inline

[2014-03-10 04:04] zaggino commented on #21
Settings UI is available in https://github.com/jrowny/brackets-snippets/pull/34

[2014-03-10 11:56] martypowell commented on #21
Awesome, thank you!

[2014-03-10 12:02] zaggino commented on #21
@martypowell This is not solved yet, I'll do it once #34 will be merged by @jrowny

[2014-03-10 14:58] jrowny commented on #10
Merged

[2014-03-10 14:58] #10 closed, assigned to jrowny

[2014-03-10 14:59] jrowny commented on #11
@jayeshcp yes but it hasn't been put in the registry yet. That will happen this week.

[2014-03-10 14:59] #11 closed, assigned to jrowny

[2014-03-10 15:01] jrowny commented on #15
Rather than a $ operator, could we make a setting in the snippet itself? Something as simple as <code>'inline':true</code>.

[2014-03-10 15:44] jrowny commented on #27
This is now fixed with pull request #31 and #33 by putting the params in a string and using the 1 line snippet.

[2014-03-10 15:44] #27 closed, assigned to nobody

[2014-03-10 18:17] jrowny commented on #30
Closed as duplicate of issue #15

[2014-03-10 18:17] #30 closed, assigned to nobody

[2014-03-10 20:06] RB-Lab commented on #30
isn't #15 about only part of this issue? I mean if you mistaken in your snippet or forgot argument it will remove whole line when you hit shortcut. That's confusing behaviour...

[2014-03-10 20:10] jrowny commented on #30
Nothing should happen if a valid trigger is not found. If something does happen, I believe we need an issue isolated to just that problem.

[2014-03-10 20:44] zaggino commented on #15
Yes, but that would not allow parameters. On the other side, we will not probably have many parameters in one-liners. What about having both? Lets have `inline:true` in the settings and use `%f` (% instead of $ because $ is valid variable prefix in JS) if you want to use non-inline snippet in inline mode.

[2014-03-10 20:46] jrowny commented on #15
sounds good to me.

[2014-03-10 21:13] jrowny commented on #19
closed with #34

[2014-03-10 21:13] #19 closed, assigned to jrowny

[2014-03-10 23:15] zaggino commented on #30
@RB-Lab This behaviour is also fixed in https://github.com/jrowny/brackets-snippets/pull/35

[2014-03-11 07:49] zaggino commented on #15
Implemented in #35

[2014-03-11 07:51] zaggino commented on #24
This is now solved and you can set your own key in settings dialog - https://github.com/jrowny/brackets-snippets/pull/34
Error with deleting everything on the line is solved in https://github.com/jrowny/brackets-snippets/pull/35

[2014-03-12 02:26] zaggino commented on #21
Solved in https://github.com/jrowny/brackets-snippets/pull/36

[2014-03-12 02:26] zaggino commented on #25
Solved in https://github.com/jrowny/brackets-snippets/pull/36

[2014-03-12 04:02] peterflynn commented on #25
Cool, thanks!

[2014-03-12 04:02] #25 closed, assigned to jrowny

[2014-03-12 19:53] jrowny commented on #15
closed with #35

[2014-03-12 19:53] #15 closed, assigned to jrowny

[2014-03-14 15:42] #28 closed, assigned to jrowny

[2014-03-14 15:42] #21 closed, assigned to jrowny

[2014-03-14 15:43] jrowny commented on #26
thanks!

[2014-03-14 15:43] #26 closed, assigned to jrowny

[2014-03-15 19:01] RB-Lab opened #37 "Do not rewrite user's snipets on update"
After extension update all my snippets was replaced with shipped with extension ones. That's wrong behaviour. Or maybe phrase "you can edit the existing javascript.json file" should be removed form extension description if that file _should_ to be rewritten every time.

[2014-03-15 22:24] zaggino commented on #37
We can't change this behaviour so correct way is to place javascript.json somewhere outside of the extension direcyory and link to it through settings dialog.

[2014-03-17 00:35] zaggino commented on #37
This has been noted to the documentation in #38

[2014-03-17 00:38] zaggino commented on #29
Present in #38

[2014-03-17 00:38] #29 closed, assigned to jrowny

[2014-04-19 11:11] mrroot5 opened #40 "snippets suggest like sublime text"
Hello!

This is my first post here, I am a noob. If I do something wrong, I am sorry :). If the issue is created I didn't find it.

I can't see a snippet suggest when I wrote a snippet. To insert the snippet it only works Ctrl-Alt-Space? What I want is that when I type the snippet name it appears the suggets snippets list while I am writing, so I can choose the one I want.

Like Sublime Text :).

[2014-04-21 10:55] zaggino commented on #40
This feature is not available yet but it's a very good suggestion.

[2014-04-21 23:43] mrroot5 commented on #40
Ok, I wait for it :). Thank you for reply :).

[2014-04-24 07:48] kpgarrod opened #41 "Not working - Brackets sprint 38 on Mac"
I have installed the extension but can't get it to work. It seems that Cmd-Shift-S is assigned to 'save as' and Alt-Cmd-V doesn't do anything. What am I missing here?

[2014-04-24 07:49] zaggino commented on #41
hi @kpgarrod
the default shortcut was actually changed to Ctrl-Alt-Space (cmd-alt-space on mac?)
you can define your own shortcut when you open the snippets panel and click on settings there

[2014-04-24 08:20] kpgarrod commented on #41
hi @zaggino
thanks for the quick response, but how do I open the snippets panel?

[2014-04-24 08:37] zaggino commented on #41
there should be icon on the right side of the brackets with letter "S"

[2014-04-24 08:46] kpgarrod commented on #41
and so there is, thanks! I did have to change the shortcut on my mac to make it work - Shift-Tab worked for me.

[2014-04-24 08:46] #41 closed, assigned to nobody

[2014-04-24 09:22] zaggino commented on #41
:+1:

[2014-04-25 02:02] zaggino commented on #40
You can leave it open as a feature suggestion.

[2014-04-26 11:25] mrroot5 commented on #40
Ok, sorry, I am a noob in this situation :s.

[2014-04-30 13:02] raphaelgoetter commented on #24
Hello,

I changed my settings to "Tab" key, but doesn't work if Emmet extension is installed :/

[2014-04-30 13:40] zaggino commented on #24
emmet uses `tab` for something else ... you can't have multiple bindings on one key currently
https://github.com/emmetio/brackets-emmet/blob/master/keymap.json

[2014-04-30 13:46] raphaelgoetter commented on #24
Yep, that's the problem.

I'd love to expand my snippets **as** I use Emmet, with `Tab` key :/

[2014-04-30 13:58] zaggino commented on #24
What exactly does the emmet extension do on tab key?

[2014-04-30 14:21] raphaelgoetter commented on #24
It expands abbreviations, it's his main function.

Ex. `div>p` + `tab` -->

[code]

[2014-04-30 20:52] zaggino commented on #24
Well one expands abbreviations, one snippets - it'd be quite hard to execute both at the same time, wasn't it?

[2014-05-01 07:40] raphaelgoetter commented on #24
We do not execute both at the same time.

Emmet is made to extend the most common abbreviations: HTML elements, CSS properties, vendor prefixes, or many shortcuts such as `w20`→ `width: 20px;` etc..

On the other hand, snippets of code does not seem at all incompatible.

For example, one of my snippets is `navi` →

[code]

Why would it be uncompatible?

[2014-05-01 23:10] CKGrafico opened #42 "Tab"
Can you enable an option like in Emmet plugin for brackets to use Tab ? very useful to do things like

log 'test' (Tab)

[2014-05-01 23:27] zaggino commented on #42
This is already possible, you can configure it in the settings (see #24)

[2014-05-01 23:28] zaggino commented on #24
@raphaelgoetter I'll try to open an issue with main Brackets core when I'll have time. Currently implementing this feature you want is not possible.

[2014-05-09 01:53] ThaisRobba commented on #42
Any way around it conflicting with regular Tab (as in, I can't tab to create indentation)?

[2014-05-09 22:30] joepie91 opened #44 "Parameters containing spaces"
Currently, when wanting to use a parameter that contains one or more spaces in a snippet, you need to enclose this value in `'` or `"`. However, the apostrophes/quotation marks are not removed in this case.

For example, the following snippet (assuming the snippet name is `hello`):

[code]

`hello John Doe` results in:

[code]

`hello "John Doe"` results in:

[code]

`hello 'John Doe'` results in:

[2014-05-25 12:33] plumpNation opened #45 "Multiple snippet paths"
Thankyou for the plugin.

If we could have a comma separated list of snippet path directories, then the user defined snippets could live anywhere.

[2014-05-30 18:42] alexvf commented on #24
Hi raphaelgoetter,
You asked:

<blockquote>Why would it be uncompatible?</blockquote>

It would be incompatible because Emmet creates "code" with all strings. Even the ones it does not know.
If you type "navi" and hit the tab key, you will get:
&lt;navi&gt;&lt;/navi&gt;

How would brackets know what was really the plugin you were expecting to execute the command (Emmet or Snippets)?

I don't think

[2014-06-08 11:39] jmcollin78 opened #46 "Automatic reload of snippets file"
It would be great if brackets-snippets automatically reloads its snippets file on change.

JM.

[2014-06-09 21:59] mihawk90 commented on #46
+1

Or if automatic reloading isn't possible, a manual reload would be fine (all at once and/or dropdown for individual reload)

[2014-06-09 23:36] mihawk90 commented on #44
Same issue here, getting kinda hard using a multi-class-div-snippet there :D

[2014-07-04 00:24] zaggino commented on #40
@erknrio this has been implemented in my fork here https://github.com/zaggino/brackets-snippets

[2014-07-04 01:05] zaggino commented on #46
@jmcollin78 @mihawk90 this has been implemented in my fork here https://github.com/zaggino/brackets-snippets

[2014-07-06 23:19] mrroot5 commented on #40
Hello @zaggino, great news! but in brackets I can't update the brackets snippets plugin :S. I try to install your fork by URL but I have an installation error.

[2014-07-07 00:18] zaggino commented on #40
The fork is not 100% ready and stable, I'm implementing other things with it and removing some I find not required anymore. When I'll be happy with it, then I'll release it to the Brackets registry. You can install it by manually if you wish for now, see here https://github.com/adobe/brackets/wiki/Brackets-Extensions#directly-on-disk ... you just extract the files from github into the extensions f

[2014-07-07 21:38] mrroot5 commented on #40
Ok, perfect. I prefer to wait for the last version. Thanks for your work :).

[2014-07-18 09:51] glepretre opened #48 "Improve documentation about custom keyboard shortcuts"
Hello,

I would like to change the default keyboard shortcut to insert a snippet but I don't know which are the accepted keys and the naming convention used.

Can we use arrows, numpad, `Super` ? Specify left or right `Shift` ?

I think it would be useful to add this to README or a specific doc :smiley:

Thanks.

[2014-07-18 12:16] zaggino commented on #48
@glepretre format is the same as Brackets format for shortcuts, see this file for example: https://github.com/adobe/brackets/blob/master/src/base-config/keyboard.json

[2014-07-18 14:32] glepretre commented on #48
Thank you,

This answers some questions but what about numpad keys, Super (on Windows or Linux) and key location : left or right?

Would you accept a PR to document that?

[2014-07-18 14:41] zaggino commented on #48
We can leave it open but I don't have the time to dedicate into this right now.

[2014-08-11 14:32] dvdln opened #51 "Automatic variable transformation"
Would love to see a way to automatically change case of certain instances of variables.

For instance:

[code]

Perhaps with `upperCamelCase`, `camelCase`, and `dashCase` as default filters and allow developers to specify their own JavaScript filters.

[2014-08-11 14:40] dvdln commented on #51
Or, optionally, be able to specify callbacks as tokens and pass the functions a hash of user input:

[code]

With a callback:

[code]

[2014-08-22 23:13] tohagan opened #52 "Request: 'New' button on Snippet toolbar. Edit/Delete on Snippet List view"
Thanks for Snippets in Brackets.  It's rather painful and distracting to have to go and find where to add snippets into Brackets.  What would be helpful would be to ...

Add UI to create New snippets and Edit/Delete/Rename them from inside brackets.
That would really make this extension much more productive.

[2014-08-26 02:38] reidark opened #53 "Shortcuts for MAC."
Hi guys.

I've read about the shortcuts for MAC. Some people are using the Shift-Tab, but this shortcut is for ident/reident. I tried other shortcuts, but not working at all, even the Shift-Tab.

How i can fix this?

[2014-08-26 03:28] zaggino commented on #53
You can set-up your own shortcuts in the settings dialog (open from snippets panel).

[2014-08-26 13:02] reidark commented on #53
@zaggino Yep, but all of the shortcuts i've tried to set did not worked, for some reason that i don't know.

[2014-09-03 01:33] coreybutler opened #54 "Ctrl+Shift+S = Save Dialog"
Windows 8.1. The save dialog shows up, not the snippet editor.

[2014-09-03 03:17] zaggino commented on #54
That info in README is outdated, I've fixed it. Use icon on the right. You can setup shortcuts in the options dialog.

[2014-09-03 03:17] #54 closed, assigned to nobody

[2014-09-07 18:02] bitfed commented on #44
Same problem here, for me this is a major roadblock to permanently utilizing this plugin.

At the very least escaping out whitespace should work.

ie:
`/*h1 This\ Stuff` -> `/* ----------- This Stuff ------------*/`

But preferrably, quotes in the usual JS syntax style:
`/*h1 "This Stuff"`

[2014-09-18 22:52] jsbalrog commented on #53
I am having the same problem here, even after redefining my shortcut in the settings from the snippets panel.

[2014-09-20 08:03] netsi1964 opened #55 "Extension fails on Brackets sprint 43 eksperimentiel version 0.43.0-14375"

[2014-09-21 08:33] ghost commented on #55
Got the same problem.

[2014-10-07 03:19] ThaisRobba commented on #42
Hey, bumping this because I'd be interested in a fix - I'm used to using Tab on every other text-editor.

[2014-10-16 14:13] jarodium opened #58 "Gist pull"
Request
Why not getting Gists from a users github account? Or at least let the user enter a gist location?

Cheers

[2014-10-18 22:29] vinyll commented on #53
Same here on 2 Mac's

[2014-10-24 09:44] blackmambahk opened #59 "If the Tab key is used as the shortcut then the tab key no longer works at all in Brackets"
If I assign the "Tab" as the shortcut and then type a trigger (say 'for') I have to press Tab twice to get the snippet dialog to show and also the Tab key then never works anywhere else in Brackets.
whether a trigger has been typed or not.

[2014-11-05 13:48] gle6as commented on #42
Got it.
At line 291 add **else** statment and there add:

[code]

That's it )

[2014-11-07 00:20] gle6as commented on #59
In main.js at line 291 add **else** statment and there add:

[code]

[2014-11-11 20:05] schickm opened #60 "cursor focus leaving active buffer after insertion of snippet"
After I insert a snippet, any snippet, the current buffer no longer has the cursor focus.  If I begin to hit tab, the focus will work it's way down through the "Working Files" and the current directory I have open, end then finally the current buffer will be focused and the cursor will be in the proper spot denoted by the snippets {cursor}.

I'm running Brackets Release 1.0 build 1.0.0-15191 (rele

[2014-11-17 08:20] lucianoratamero commented on #60
+1

[2014-11-21 03:53] ragamufin commented on #42
Thanks @gle6s that worked for me. Any chance this fix or something like it could end up in the core code?

[2014-11-21 03:56] ragamufin commented on #42
If you want the tab to do a tab instead of a space change it to:

`document.replaceRange("\t", pos);`

[2014-11-21 04:03] ragamufin commented on #42
hmm.. if you have multiple lines selected and click tab, it will only tab over the first line.

[2014-12-05 01:11] uabassguy opened #61 "Custom snippets disappear after upgrading extension"
Not sure what happened, but I defined about 10 different snippets and after upgrading they all vanished.

[2014-12-10 19:15] he-jlalonde commented on #53
Same here... is it fixed for some of you? How did you fixed it?

[2014-12-10 22:14] zaggino commented on #53
@he-jlalonde I've started my own rewrite from scratch here https://github.com/zaggino/brackets-snippets - you can find it in extension registry under `Brackets Snippets (by zaggino)`. Development of this extension has been abandoned for months now and it doesn't work in latest Brackets as far as I know.

[2014-12-11 14:19] he-jlalonde commented on #53
Ok thank you zaggino!

[2014-12-26 10:46] TuurDutoit opened #62 "Extension inserts snippet 1 line higher"
When typing, for example, `for i arr` and hitting the shortcut, the for-loop is inserted on the line above the one I typed `for i arr`. This happens with templates defined in the `.json` files as well as in the `.snippet` files.
A bigger problem is when trying to insert on the first line of the document: the extension tries to insert on line `-1`, which obviously doesn't exist, so CodeMirror throw

[2015-03-09 19:09] RafaAguilar opened #63 "The character " ` " don't work in trigger"
Reproduce steps:

Trigger:

Description:

Scope:

Text:

The DropDownMenu never appear.  I suppose the apostrophe confuse the string in the backend.

[2015-03-10 12:50] mrroot5 commented on #63
Do you try with this?:

[code]

Yes, isn't the same but could work.

[2015-03-10 12:57] RafaAguilar commented on #63
Now appear the menu when i type  ``  but when choose the snippet the two chars are select to overwrite.

I thinks is other issue than reported by me previously, the dropdown menu appears only when i go back o delete the secodn char (the same seems to be happening with pipe `||`).

If you want to closed this issue and open another, fine by me, but if this issue of menu resolve, the extension will b

[2015-03-12 12:47] PhiLhoSoft commented on #61
Apparently duplicate of #37

[2015-03-27 14:23] RafaAguilar opened #64 "Function Request: Add "end-of-file" function in snippet"
Hi there,

It would be nice have an operator to say "add this to eof", like

snippet
- name: markdown link reference
- trigger: lref
- text:

[code]

Do i explain myself?

If i have time i will try to study the code to add more ideas or even submit a pull request, but right now i don't have too much time, sorry.

[2016-03-03 06:55] hozefaj opened #67 "adding timestamp does not work"
Added below code into `javascript.json` file, but don't see the trigger action happen and timestamp added to the current file.

[code]

[2016-03-07 10:12] erknrio commented on #67
It works for me. I see an '$${DATETIME}' on my file when I type time + enter.

[2016-03-07 10:14] #40 closed, assigned to nobody

[2016-05-12 18:05] BMCwebdev opened #68 "Question: Recommended Additional Snippet Collections"
Can anyone recommend an additional collection of snippets? Thanks!

[2016-05-13 21:06] adimux commented on #52
I can't help but say this : try to do it :)

[2016-06-22 02:44] gofighting123 opened #69 "[Recommend] make selection text as snippet when right mouse click."
the function is just like Quick Docs,Quick Edit or beautify.
make the selection text into json file (from setting)
this ideal is from eclipse plugin.

[2017-07-11 21:17] BillyKoala opened #70 "User defined snippet not working next to closing HTML tag."
I created a snippet called 'comm' to enable me to define and add a comment to a closing tag. For example:
&lt;h1&gt;Hello World&lt;/h1&gt;comm. Unfortunately, trying to use the Ctrl-Alt-Spacebar combination immediately after a closing tag will not execute the snippet. Any ideas??? Snippet code below:
    {
        "name": "Insert Comment",
        "trigger": "comm",
        "usage": "&lt;!-- Comme

[2017-12-09 17:47] jcfrazier6 opened #71 "Snippet doesn't insert at cursor location."
When I insert a snippet, it doesn't insert at the current cursor location but creates a new line above the cursor location and inserts it on that line.

[2018-01-06 18:14] plumpNation commented on #45
So old.

[2018-01-06 18:14] #45 closed, assigned to nobody

[2018-01-10 23:05] a7aimamajalal opened #72 "how to change emmet tab shortcut to something else."
I'm in love with emmet and also Tab Out which helps you to code faster when you press tab, the cursor movers one character forward. However, emmet also uses tab key for completing the abbreviation. How can I change the tab key of emmet to something else like control or option on mac. I'm using bracket.

[2018-01-30 08:11] Slobug opened #73 "Installation failed"
Hi,

with my update :

Horodatage de la version : Wed Jan 24 2018 13:40:52 GMT+0000

The installation failed... Is the Brackets version involved?

Thanks

![capture](https://user-images.githubusercontent.com/18593182/35554878-8781f740-059d-11e8-8756-662d3aab83e5.PNG)

[2018-02-02 23:38] curdaneta commented on #73
Same problem here, upgrade it to version 1.12 build 1.12.0-17619 and the extension is gone

[2018-05-14 10:08] Mike-williams3000 commented on #73
It's because the PanelManager package is deprecated.
Changing line 40 of main.js to "view/WorkspaceManager" rather than "view/PanelManager" seems to fix the extension for a manual install.

[2018-05-14 10:28] curdaneta commented on #73
@Mike-williams3000 thanks for the tip, worked again!

[2018-08-28 04:58] sambatlim opened #74 "trigger sometime work and sometime doesn't work."
sometimes when I click on the trigger in snippet panel It work (insert my snippet into my editor correctly) but sometimes It doesn't work at all(Not showing anything).

[2019-11-22 18:42] #58 closed, assigned to nobody